[2016-06-23 13:37] sandeepmistry opened #3 "Add support for chunked HTTP responses"
This library currently does not nicely support servers the return a chunked HTTP response. For example:
- https://data.sparkfun.com
- https://developer.yahoo.com/weather/

[2016-06-23 13:42] sandeepmistry opened #4 "Add support for WebSockets"
To upgrade client connection and encode + decode when sending + receiving.

[2016-07-04 20:01] sandeepmistry commented on #4
This has been added in #5.

[2016-07-04 20:01] #4 closed

[2016-07-05 17:25] q2dg opened #6 "Will this library appear in https://www.arduino.cc/en/Reference/Libraries?"
This would give it much more visiblity.
Thanks!

[2016-07-11 17:48] mbanzi commented on #6
Yes as soon as we think the API is stable enough it will be documented there as well

[2016-07-29 16:57] maco1717 opened #8 "cannot If readString statements"
Hi,

I'm trying to do stuff on accordance to what i receive on readString but my if statement are not working.

I've also tried saving the result to a variable, when I do this, it appears empty, altough if a print the information is coming in...

section of the code:
[code]

Commented you can see some of the alteration I have tried but no luck...

could you please suggest?

Thanks.

[2016-07-31 14:33] maco1717 commented on #8
My problem was that was trying to use the readString() more than once. and apprently once used it empty's the buffer, I start by storing readString() on a String varible object and use that, that worked...

[code]

[2016-08-11 19:08] sandeepmistry commented on #8
@maco1717 thanks for following up.

[2016-08-11 19:08] #8 closed

[2016-10-09 14:29] guschdel opened #11 "Examples don't work"
I was trying to use the SimpleGet example to fetch some data from a website. The problem I found was, that it only worked once.
After adding a "client.stop()" just before the delay(5000); at the end of the loop function it worked correct and does the repeated get as it was expected to do.

[2016-10-14 19:25] sandeepmistry commented on #11
@guschdel can you please share the full sketch you were using? In particular the website. Also, let us know what board you were using.

[2016-10-29 09:22] jrobeson opened #13 "Allow SSL on supported boards."
I know not all boards can support the resource requirements, but at least the ESP8266/ESP32 can.

What do you see as as reasonable way to do so? It's likely that it will require the SSL fingerprint, but other than that it should be pretty transparent other than changing the write method and attempting verification.

[2016-10-29 10:42] jrobeson commented on #13
I guess I'm not sure of the best way in which to exclude/include boards without a hardcoded safelist/blocklist.

[2016-10-31 13:12] sandeepmistry commented on #13
Hi @jrobeson,

I think this question falls outside the scope of this library. HTTPS is already supported when you pass in a SSL/TLS enable Client object.

For example, with the [WiFi101 library](https://github.com/arduino-libraries/WiFi101):
[code]

and ESP8266
[code]

For the WiFi101 library, SSL root certificates are managed by the user using the [WiFi101 Firmware Update tool](https://github.com

[2016-10-31 19:35] jrobeson commented on #13
yep, I was just researching client libraries at the time and didn't know about the distinction.

[2016-10-31 19:35] #13 closed

[2016-11-10 20:48] creends opened #14 "responseBody() doesn't work when the lenght of the response is larger than 1500"
It produces various results like adding parts of the header at the end of the response, or not giving the entire response.

[2016-11-10 21:49] sandeepmistry commented on #14
Hi @creends,

Could you please provide a sketch to reproduce this issues? As well as let us know what board you are using.

[2016-11-11 10:35] creends commented on #14
I use an Arduino MKR1000.
Also, in my case, response is a JSON.

The sketch i'm using : [demo.ino.txt](https://github.com/arduino-libraries/ArduinoHttpClient/files/585575/demo.ino.txt)

[2016-11-11 18:14] sandeepmistry commented on #14
@creends thanks.

One more question, could you please provide more details of the server you are connecting to. Maybe a Wireshark capture of the response, or the code that is is running.

PR #7 might also help with the issues you are seeing.

[2016-11-11 19:21] creends commented on #14
I'm connecting to my Philips Hue bridge, so no really information about the server.
Here is a Wireshark capture : [capture.zip](https://github.com/arduino-libraries/ArduinoHttpClient/files/586589/capture.zip)
I noticed that it's a chunked response, maybe the problem is here.

responseBody give me that : [response.txt](https://github.com/arduino-libraries/ArduinoHttpClient/files/586591/response.txt

[2016-11-11 19:24] sandeepmistry commented on #14
Thanks!

I don't think it chunk per day, they just didn't include a content length header in the response.

Did you get a chance to try the changes in PR #7?

[2016-11-11 19:36] creends commented on #14
Just tried #7, don't change anything.

Maybe chunked was not the appropriate word.
If you look in the capture file, the response is divided into 2 lines (47 and 48), that's what I was trying to say.

[2016-11-13 17:35] Heizelmann opened #15 "Add PATCH request"

[2016-11-24 16:36] sandeepmistry commented on #14
I'm able to reproduce it with the master version of this library and the following Node.js code to simulate the server:

[code]

[2016-11-24 17:50] sandeepmistry commented on #14
So far, I think the issue actually lies in the WiFi101 library ...

[2016-11-24 22:45] sandeepmistry commented on #14
Definitely caused by the WiFi101 library, https://github.com/arduino-libraries/WiFi101/issues/116 has a potential fix. @creends please try it out and provide your feedback.

[2016-11-28 18:09] creends commented on #14
So arduino-libraries/WiFi101#116 works fine for me too.
No more unwanted characters at the end of the answers, and whole responses for the longer ones.
Thank you for your help.

[2016-11-29 14:22] #14 closed

[2016-11-29 14:58] sandeepmistry commented on #14
Great, there will be a new v0.11.1 release of the WiFi101 shortly that includes the fix.

[2016-12-03 19:25] mathcoll opened #16 "Unable to send custom Headers to a post"
Hello,

I'm trying to post data to a server using ArduinoHttpClient.
in the loop(), I have added :
[code]
Unfortunately, the server got the following headers from the request:
[code]

Could you please advice? is there anything I'm doing wrong?

[2016-12-05 13:26] sandeepmistry commented on #16
Hi @mathcoll,

Please have a look at Massimo's sketch: https://create.arduino.cc/editor/askmassimo/feb3bd6f-2c8c-4eba-892e-3612eaa999bd/preview

The post must be called after `beginRequest`, followed by the custom headers:

[code]

[2016-12-06 19:42] #16 closed

[2016-12-16 15:53] agdl commented on #11
Closing this for lack of feedback. Reopen it if needed

[2016-12-16 15:53] #11 closed

[2016-12-31 17:04] nsollars opened #17 "Request for example to enable sendHttp"
Would appreciate an example of how to call client.sendBasicAuth,

Thanks in advance

Nige

[2017-01-03 21:22] sandeepmistry commented on #15
Hi @Heizelmann,

I've submitted PR https://github.com/arduino-libraries/ArduinoHttpClient/pull/18 to add support for sending PATCH requests. Could you please try it out and provide your feedback?

[2017-01-03 21:35] sandeepmistry commented on #17
Hi @nsollars,

I've submitted pull request https://github.com/arduino-libraries/ArduinoHttpClient/pull/19 with a new example for HTTP basic authentication. Could you please take a look and provide your feedback?

[2017-01-11 14:04] sandeepmistry commented on #17
Closed via #19 (which has been tested by @agdl).

[2017-01-11 14:04] #17 closed

[2017-01-12 14:21] agdl commented on #15
Tested and merged!

[2017-01-12 14:21] #15 closed

[2017-03-28 11:30] tigoe opened #22 "Add .sendBody()"
With mult-line POST requests, there is currently no way to send a body except using a sendHeader() call. A sendBody() would be useful in this regard.

The following code works, but is confusing to the end user:

[code]

Two suggested solutions:

Either  sendBody() simply calls sendHeader(), or sendBody() callas a blank sendHeader() to separate from the headers, then calls sendHeader() with the bod

[2017-03-28 14:27] sandeepmistry commented on #22
I think we're definitely missing an example of this, #16 had a similar question.

Massimo had an example sketch of this: https://create.arduino.cc/editor/askmassimo/feb3bd6f-2c8c-4eba-892e-3612eaa999bd/preview

[code]

From Adrian's original lib, a Stream operation after `endRequest` sends the body data. Is this ok or do you want to change?

Regardless, we need an example of this in the library.

[2017-03-28 14:29] tigoe commented on #22
The Stream operation works for me, but it seems weird that it comes after endRequest()

[2017-03-28 14:32] sandeepmistry commented on #22
Should we add a `client.beginBody()`? So the flow is:

[code]

If we like this, I think it can be a non-breaking change so the old style keeps on working.

[2017-03-28 14:33] tigoe commented on #22
That can work, yeah. Basically prints an empty line, is what you're thinking?  I can also work with the previous version, might be just a good example is what we need.

[2017-03-28 14:59] sandeepmistry commented on #22
Yes, this is what `client.endRequest();` currently does (plus updates some state internally).

Do have an example in mind that you can PR? Otherwise, I can get started on something.

[2017-03-28 15:31] tigoe commented on #22
Here's Blink on a Belkin WeMo switch. Too complex, maybe, but a real world case of where the one line .post() is not enough.

[2017-03-28 15:31] tigoe commented on #22
https://github.com/tigoe/MakingThingsTalk2/blob/master/3rd_edition/chapter9/WemoHttpClient/WemoHttpClient.ino

[2017-03-28 16:48] sandeepmistry commented on #22
Let's go for something based on [SimplePost](https://github.com/arduino-libraries/ArduinoHttpClient/tree/master/examples/SimplePost) then, named "PostWithHeaders".

How does that sound?

[2017-03-28 16:55] tigoe commented on #22
I like it. Didn't we do a node server to go along with one of the examples? We could modify that to print out the headers, if that helps make the point.

[2017-03-28 18:17] sandeepmistry commented on #22
I've created #23, the Node server is here still :) https://github.com/arduino-libraries/ArduinoHttpClient/tree/master/examples/node_test_server

Without changes it already prints out the headers:

[code]

[2017-03-29 11:08] tigoe commented on #22
Looks good to me, thanks.

[2017-03-29 13:03] sandeepmistry commented on #22
Thanks for reviewing.

Closing via #23.

[2017-03-29 13:03] #22 closed

[2017-04-13 15:09] #3 closed

[2017-04-26 10:27] bkniffler opened #24 "SecKey length"
Hey, currently the SecKey length is fixed to 21 chars (https://github.com/arduino-libraries/ArduinoHttpClient/blob/master/src/WebSocketClient.cpp#L39), but I've seen some examples (f.e. wikipedia article) using 24 chars. There doesn't seem to be a specification about the length, but I've stumbled upon libraries that expect the length of 24 chars (https://www.npmjs.com/package/uws).

So, I'd sugges

[2017-04-27 12:33] bkniffler commented on #24
https://github.com/uWebSockets/bindings/issues/15#event-1060116778

[2017-04-27 15:36] mcr-ksh opened #25 "statusCode = -3 / HTTP_ERROR_TIMED_OUT"
Its a simple POST request.

Weird enough, I receive a lot of timeout messages on the most reliable connection.
The HTTP request appears in the logs of the server and the return code is 200.

[2017-05-02 15:57] sandeepmistry commented on #24
@bkniffler

I'm ok with changing the default length to 24 characters, could you please submit a pull request for this?

At this point, I don't think we need an option to make it configurable ...

[2017-05-02 16:13] sandeepmistry commented on #25
Hi @mcr-ksh,

Do you have a sketch that we can use to create this condition?

[2017-05-02 16:13] bkniffler commented on #24
Sorry, I don't currently have the time/urgence to do it since we're reconsidering using arduino for our use-case. I will still leave this open in case someone else wants to tackle this!

[2017-05-02 17:20] sandeepmistry commented on #24
PR #26 submitted for this.

[2017-05-05 06:05] proppy opened #27 "reuse third-party C http_parser"
Have you considered reusing an existing http_parser?

The following looks nice and embeddable:
https://github.com/nodejs/http-parser/blob/master/http_parser.c

[2017-05-05 06:09] proppy opened #28 "Lazy initialization with HttpClient.begin()"
Would it make sense to support lazy initialization with the usual `.begin()` pattern?

That could allow user to reuse the same `HttpClient` object to make request to different host (e.g: when handling a redirect).

[2017-05-08 13:51] sandeepmistry commented on #24
Closed via #26.

[2017-05-08 13:51] #24 closed

[2017-05-10 18:51] sandeepmistry commented on #27
@proppy what would be the advantages of using that parser? Would you be able to provide a pull request to use that parser for comparison?

This library is fairly slim and can run on AVR boards like the Uno.

[2017-05-10 19:04] sandeepmistry commented on #28
Hi @proppy,

Do you have an example sketch for this use case?

Couldn't the `HttpClient` instance be re-assigned after receiving the redirect response?

[code]

The original `HttpClient` library on which this is based did support lazy initialization, but we decided to move the server and port parameters to the constructor. We could add them back (optionally) to the HTTP operation methods.

@tigoe

[2017-05-10 19:19] proppy commented on #27
@sandeepmistry This parser looks well tested and used in production by many projects.

[2017-05-10 19:23] sandeepmistry commented on #27
@proppy let me phrase the question another way. Have you run into any issues with the parser built-into this library?

Do you have time to test out porting the parser into this Arduino library and comparing code size and memory usage with this library?

[2017-05-10 19:24] tigoe commented on #28
I tend to like the model you outlined for reassignment, @sandeepmistry:

[code]

I think of .begin() as a function that should ideally be called only once. Hence the name.

[2017-05-10 19:28] proppy commented on #27
@sandeepmistry I didn't went thru the path of porting the library to this parser. But a quick review of the code seems to indicate that it could perform better.

The current parser read byte "one by one":
https://github.com/arduino-libraries/ArduinoHttpClient/blob/master/src/HttpClient.cpp#L613

While the http-parser implementation is capable of incrementally parsing byte buffers:
https://github.c

[2017-05-10 19:32] sandeepmistry commented on #27
Fair enough, in addition to comparing code size and memory usage, when could also compare throughput performance.

Just to be clear, this is would be low priority for the maintainers of this library. To really kick things off we'd need a pull request from a member of the community like yourself.

[2017-05-10 19:48] proppy commented on #27
I think robustness and feature parity could also be a factor. There is always a trade-off when re implementing something as complex as an HTTP parser yourself.

[2017-06-13 12:42] abhir24 opened #29 "Status code -2"
`#include <ArduinoHttpClient.h>
#include <SPI.h>
#include <WiFi.h>
#include "config.h"

//char ssid[] = "JioFi2_C5E559"; //  your network SSID (name)
//char pass[] = "8nfdtyc8jf";    // your network password (use for WPA, or use as key for WEP)
int keyIndex = 0;            // your network key Index number (needed only for WEP)

int status = WL_IDLE_STATUS;

IPAddress server(35,154,192,57);

//char

[2017-06-13 13:09] per1234 commented on #29
Also posted on the forum:
http://forum.arduino.cc/index.php?topic=481200.msg3299310#msg3299310

[2017-07-08 18:04] geovannyAvelar opened #30 "Status code -3 after two requests in a row"
I'm trying to authenticate with my API and send a POST.

[code]
Request to authentication enpoint works well, returning the access token. But the second request always return -3 status.

[2017-07-17 23:57] mcr-ksh opened #31 "compatibility issue with TinyGSM"
Hi,

the issue when using TinyGSM is that the request is seen on the server side but the client side will receive a timeout when using httpclient->responseStatusCode();

After a lot of debugging I found that the issue might be due to the way the library slowly transmits
the request:
[code]

Finally the timeout is occuring when calling httpclient->endRequest(); does not seem to send "\r\n\r\n".

If

[2017-07-18 09:21] mcr-ksh commented on #25
the sketch is too big. its all our code but this might be related to the issue I opened yesterday. #31

[2017-07-21 15:41] MCMainiac commented on #27
Any progress so far?

[2017-08-08 08:31] pcmill opened #32 "Server variable"
After a lot of fiddling with your library I found that the problem of my code was in the fact that I used the following as my server definition:

`const char server[] = 'https://google.com";`

Now I know that putting 'https://' in front of the server name will throw of the code. The right way of defining the server is:

`const char server[] = 'google.com';`

Is there a way to improve the documenta

[2017-08-09 14:31] melvinpmathew commented on #30
I am also kind off in the same boat.  SSL connection not working when using local SSL server, give me -3 error code. HTTPS failing :(

Turning off SSL-regular HTTP request works fine with basic auth and POST messaging.

Is this a known issue? Is there any support or other ways to achieve SSL?

[2017-08-28 12:41] drpancake commented on #30
@geovannyAvelar did you manage to figure this out? I'm seeing a similar intermittent issue. Non-HTTPS, running on ESP8266.

I get the same -3 status code if the connection is lost during the HTTP request.

In both cases the connection hangs for 10-seconds or so before returning a -3 status code.

[2017-10-05 08:02] Beerlesklopfer opened #34 "getters for ServerConnectionVars"
Hallo to everyone,

I added to your code due to a need for my application dealing with the IoT Platform Cumulocity:

	_/* G E T T E R S*/
	inline const char* serverName() {
		return iServerName;
	}

	inline int serverPort() {
		return iServerPort;
	}

	inline IPAddress serverAddress() {
		return iServerAddress;
	}_

Maybe it is useful to integrate to branch?

Joerg

[2017-12-16 10:04] cawena opened #35 "GET response successful = 0?"
After a successful GET request I get response 0. 0 is normally false and 1 = true. Way 0 on a successful request??

[code]

[2017-12-21 09:44] koulombus opened #36 "ContentLength returns negative value"
If the content is larger than 32k, the value is negative. Change ContentLength to "unsigned long" for larger content.

[2018-01-31 16:11] jameshowe opened #37 "responseBody gets stuck in an infinite loop"
Using in conjunction with TinyGSM library, whenever I try to consume the body from any request this call gets stuck in an infinite loop

**Code**

    HttpClient client("server", 443);
    ...
    client.connectionKeepAlive();
    client.get("/resource");
    int status = client.responseStatusCode();
    String body = sasClient.responseBody();

**Log**

    AT+CIPRXGET=2,1,99

    +CIPRXGET: 2,1,9

[2018-02-06 11:42] jameshowe commented on #37
It appears this issue was related to not having enough RAM, reducing the memory consumption in other places seemed to fix this issue.

[2018-02-06 11:42] #37 closed

[2018-02-17 07:53] cawena opened #38 "Very slow evaluation of the status code"
Hi,

I use the sample "SimpleGet" to get a UUID from a server.

The output show me a very long time on getting the status code.

[code]

Here the code...

[code]

is there something wrong with this simple code?

[2018-03-20 14:37] sandeepmistry commented on #38
@cawena what if you add a `client.stop()` before the wait?

In the future if would be valuable to get the entire sketch you are using, as well as the hardware you are using.

[2018-03-20 15:14] sandeepmistry commented on #36
Changing to `long` would be good I think.

[2018-03-20 15:17] sandeepmistry commented on #34
@Beerlesklopfer yes, please submit a pull request for this.

[2018-03-20 15:19] sandeepmistry commented on #30
@geovannyAvelar @melvinpmathew could you please share a full sketch to reproduce this and let us know what hardware you are using.

[2018-03-20 15:20] sandeepmistry commented on #32
@pcmill you could submit a pull request to submit documentation improvements.

[2018-03-20 15:21] sandeepmistry commented on #29
[code]

[2018-03-31 15:55] Bl4cksunLtd commented on #30
I've had the same issue. Firstly I connect to /endpoint1 (and download some data) then later connect to /endpoint2 (to upload data). The server accepts the data sent to /endpoint2 (it's a json message) and continues without issue, however the client fails at that point with a timeout error (-3). Repeatedly calling the /endpoint2 send routine (after a delay(5000), will fail every time with a -3.
I'

[2018-04-04 16:07] joaorodrigo opened #39 "Error -2 on second post call"
Hello,
I have an application where I make webservice calls every 10 seconds, the first call occurs without problems, however in the following calls I receive error -2.
Any idea what might be going on?
Any examples of multiple calls?

[2018-04-18 19:16] lathoub opened #40 "MKRGSM does not work optimal with ArduinoHttpClient (or the other way around)"
I have created an [issue](https://github.com/arduino-libraries/MKRGSM/issues/25) in the MKR 1400 Library as it does not work with this library.

(GET works only once, POST runs very slow)

As indicated in the link, not sure where the issue is: in this lib or with the MKR 1400 lib.

(Sorry for x-posting - not sure how to tie 2 projects together over an issue)

[2018-04-20 05:58] lathoub commented on #40
I'm not able to reproduce the issue consistently
But when running slow*, it seem to be stuck for a while in:

`int HttpClient::skipResponseHeaders()`

in
[code]

* compared to reading the bytes using client.read

[2018-08-14 11:08] paulhayes opened #43 "Unable to compile for Teensy 3.x"
Hi there, I'm unable to use this library for the teensy. It's entry on Platform.io lists it as compatible with the teensy ( https://platformio.org/lib/show/798/ArduinoHttpClient ), but I get the following compile error:

cores/teensy3/Stream.h:68:6: error: 'int Stream::timedRead()' is private

ArduinoHttpClient/src/HttpClient.cpp:576:27: error: within this context

[2018-09-12 19:06] sandeepmistry commented on #40
Let's track in https://github.com/arduino-libraries/MKRGSM/issues/25.

[2018-09-12 19:06] #40 closed

[2018-10-04 00:00] jdani156 commented on #30
Create an HttpClient pointer as a global.
`HttpClient* client;`

Later, when you're ready to use the client.

`
if (!client) {
    Serial.println("Initializing httpclient");
    client = new HttpClient();
}`

Make sure you dereference your pointer.

`client->get(...)
client->read()`

etc...

[2018-10-10 00:57] 8bitkick opened #44 "No Socket Found - MKR1010"
Following examples to do HTTPS POST every 15s, works fine for initial requests but eventually returns "No Socket Found"

Fixed by adding an `httpClient.stop()` after request as suggested by @sandeepmistry in other comments.

Might worth adding this to the examples (e.g. SimpleGet.ino, SimplePost.ino).

[2018-10-16 18:41] vrbagal opened #45 "File upload"
I am not able to upload a file

[2018-10-16 21:06] per1234 commented on #45
This issue tracker is only to be used to report bugs or feature requests. Since you have not provided any useful information, I'm assuming this topic is more appropriate for the Arduino Forum. I'm sure we'll be able to help you with your problem over there.

Please do this:
1. Read http://forum.arduino.cc/index.php?topic=148850
2. If you haven't already done so, create a new thread in the appropri

[2018-10-17 07:41] #45 closed

[2018-11-02 13:20] sandeepmistry commented on #44
@Rocketct we should also look at making sure the WiFiNINA WiFiClient behaves the same as the WiFi101 one and closes the old socket in connect.

[2018-11-02 13:21] sandeepmistry opened #46 "Add example for MKR GSM"

[2018-11-09 08:51] Rocketct commented on #44
hi @8bitkick, could you test PR https://github.com/arduino-libraries/WiFiNINA/pull/41 that should solve this issue, could you test and let us know if work?

[2018-11-12 15:57] #44 closed

[2018-12-24 13:36] BluesQuinn opened #48 "Adafruit ESP8266"
Hi there, I'm doing a project which tried to connect sensor BME280 and Adafruit ESP8266.
I used this library but it showed a bug that

[code]
I don't know why. I will be appreciate with any help. Thank you very much.

The following content is the code:
[code]

[2018-12-27 16:57] abachman commented on #48
It looks like the actual issue is in [the ESP8266 board support package](https://github.com/esp8266/Arduino/commit/83a8076db87b77de6a7b500c18b85057e38ed117#diff-85122eee893fae8c5a39b442c776687cR75) which changed the return value of the `flush` method to be `bool` rather than `void`.

It's not clear whether the ESP8266 Arduino should change or whether this library should handle the new function def

[2019-01-01 21:17] IonCaza commented on #43
+1 experiencing the same issue. @paulhayes were you able to replace it with a different library?

[2019-01-01 23:32] paulhayes commented on #43
I modified the code directly, I just changed the header file to make that property public. Worked fine after that.

[2019-01-02 13:45] sandeepmistry commented on #48
Fixed via https://github.com/arduino-libraries/ArduinoHttpClient/pull/49.

[2019-01-02 13:45] #48 closed

[2019-01-12 00:05] awrebels opened #50 "Getting it to work with W5200?"
I tried replacing the libraries etc however haven’t had much success. Has anyone got it working with a W5200? Specifically I’m trying to use the hue blink example

[2019-01-14 22:50] ladyada opened #51 "bump release to include ESP8266 fix?"
hiya thanks for fixing
https://github.com/arduino-libraries/ArduinoHttpClient/pull/49
if someone could bump the relesae to 0.4.0 or whatever, it will propogate out!

[2019-01-23 11:43] Rocketct commented on #50
Hi @awrebels could you please share a the code used for the W5200, are you using a particular shield? can you give more details?

[2019-01-29 18:15] ladyada commented on #51
hiya - pokin' this, if you give me write access to this repo i can do it for you!

[2019-01-29 18:19] ladyada commented on #51
oops forgot to tag recent committers' @Rocketct @tigoe @sandeepmistry

[2019-01-31 14:25] jbrepogmailcom opened #53 "Server returns http 400 when connected to SSID with password"
Hello, I have noticed following strange behavior.

I have multiple SSIDs provided by my home ZYXEL router, some with password, some without it. I use WiFiManager.h to autoconnect to SSID. When it does not detect connection, it launches captive portal, where I can select some of my SSID, enter password and ESP then connects to that SSID.

Then I use OTA from web server, with ESP8266HTTPClient.h and

[2019-02-04 14:47] Rocketct commented on #51
Closed via https://github.com/arduino-libraries/ArduinoHttpClient/pull/54

[2019-02-04 14:47] #51 closed

[2019-02-04 17:03] ladyada commented on #51
yay thanks :)

[2019-02-09 03:59] markreha opened #55 "POST responseStatusCode Hangs"
I am using an Arduino UnO Wifi R2. The following code hangs on my Arduino on the call to responseStatusCode() after running my application anywhere from 12-56 hrs. My HTTP endpoint is a REST API using Java Spring Framework deployed on major Cloud Servers. The hang happens against multiple Cloud Servers that includes Azure, Google, Heroku, and AWS. My JSON payload is very small and I have validated

[2019-02-12 15:18] mysecondnameis commented on #6
waiting reference.... thanks for your lib

[2019-02-12 22:04] sandeepmistry commented on #53
Hi @jbrepogmailcom,

`ESP8266HTTPClient.h` and `ESP8266httpUpdate.h` are not included in this repository. Please make sure you've opened the issue in the right Github repo/project.

[2019-02-12 22:04] #53 closed

[2019-02-19 20:45] bob3150 opened #56 "How to POST a request to a https-server"
Hello,

I trying around for a while to connect to a cloud server and do not get it working because I can only put In the address of the server without https:// - so I get back a HTTP-Statuscode of 301 (redirect). I also tried it with the https port 443 but the server is not open on port 443.
Please help me to get my code working without the redirect. I need "https://api.server.com" instead of "api

[2019-02-21 09:37] Rocketct commented on #56
Hi @bob3150 could you share a minimal sketch to reproduce this issue? which Hardware/board are you using?

[2019-02-21 09:44] nhuzaa commented on #56
Same issue on mine  getting 301 while trying to request the https server
[code]

[2019-02-21 13:26] Rocketct commented on #56
Hi @nhuzaa which board are you using? i have tested with a wifi1010 and adding the certificate through the firmware uploader and change the port to 443.
Have tried the post and the get, the results was:
- POST: 405 method not allowed this means that in https://www.test.com/ you can't make a post, i have also tried on the RESOURCE "/api/v1/gps-device" , but it follow to return 405;
- GET: 200 all g

[2019-02-22 07:24] nhuzaa commented on #56
@Rocketct  its for board Modem: SIM808 R14.18

Try the server address to I changed it to avoid getting spammed.
Its just give me 301 status error or returns -3
char serverAddress[] = "babunaninepal.com";  // server address

[2019-02-22 10:27] Rocketct commented on #56
@nhuzaa could you share your complete sketch? i would like to understand if you are using a SSL client or not.
The 301 problem is due to the fact that you are try to connect it without SSL, and setting the port to 80, i have reproduce it in this way, correct me if i'm wrong, could you try to add the SSL certificate to your device certificate list and try to make the post using the port 443?

[2019-02-24 04:30] nhuzaa commented on #56
@Rocketct  How do I add SSL certificate to the arduino device. I get -3 response upon requesting on port 443.

[2019-02-25 20:16] sandeepmistry commented on #56
@nhuzaa please consulting the vendor for if the module and library for the SIM808 supports SSL.

For MKRGSM, you would pass in `GSMSSLClient` instead of a `GSMClient`.

[2019-02-27 02:10] stephenvowell opened #58 "Adafruit Feather HUZZAH ESP8266"
ADAfruit io Adruino example adafruitio_16servo example will not compile without error.
I am using Arduino 1.8.8 ide and have the latest libraries and correct usb cable. code is below

// Adafruit IO Servo Example
// Adafruit IO Servo Example
// Tutorial Link: https://learn.adafruit.com/adafruit-io-basics-servo
//
// Adafruit invests time and resources providing this open source code.
// Please sup

[2019-02-28 08:15] Rocketct commented on #56
This not depend from the ArduinoHttpClient, but from the library of the board that you are using for SIM808 R14.18, for example on Arduino MKR1000 or MKR1010 could be used the toolFirmware update on the IDE, for the MKRGSM could be added the certificate in binary format to a file on the library of the board.
You have to check on your board library how this is done.

[2019-02-28 08:18] Rocketct commented on #50
Closed due to lack of feedback, @awrebels if you need please reopen the issue.

[2019-02-28 08:18] #50 closed

[2019-03-06 00:02] aster94 opened #59 "constructor without arguments"
how could i create a `HttpClient` class without arguments?
I need to use a HttpClient object between files but i can't inizialize a empty one

[2019-03-27 10:16] Rocketct commented on #56
closed due to lack of feedback, @nhuzaa @bob3150 if needed reopen the issue

[2019-03-27 10:16] #56 closed

[2019-03-28 10:34] Jvejvad commented on #58
Hi.

I have similar problem.

using IDE 1.8.9
and compiling to a ESP8266.
- code has been running earlier, but will not compile at the moment.

Arduino: 1.8.9 (Windows 10), Board: "Generic ESP8266 Module, 80 MHz, Flash, Disabled, ck, 26 MHz, 40MHz, DIO, 512K (no SPIFFS), 2, v2 Lower Memory, Disabled, None, Only Sketch, 115200"

C:\Users\20438\OneDrive\Arduino\libraries\Adafruit_IO_Arduino\src\wifi

[2019-04-03 17:45] petrnymsa opened #60 "After first POST, status code hangs on -4"
[code]
I have simple REST API which accepts plain text at /api/values endpoint.
The code above just every 4 seconds try to send some string (not important actual content).

After sending POST  request - i want to display status code.
If the line commented with "HERE" is not present, after first **succesfull** call to API the API is not **called anymore and response code is equal to -4.**

Why it i

[2019-04-08 08:09] Jvejvad commented on #58
try this !
ESP8266 board manager v. 2.5.0 seems to be causing this - switch back to before the beta editions.

https://forums.adafruit.com/viewtopic.php?f=8&t=145524

v. 2.4.2 solved my problems and all my old code is now running.

[2019-04-09 16:51] sandeepmistry commented on #60
@petrnymsa have you tried to add a `client.stop()`?

[2019-04-09 17:11] petrnymsa commented on #60
@sandeepmistry not yet, for now, I am not able to test it, will get back when I do. However, from examples, I did not notice the usage of client.stop(), so i did not know.

[2019-04-13 09:29] petrnymsa commented on #60
@sandeepmistry I've tested with client.stop() and status code is -2 which probably indicated, that "inner state of FSM" is wrong. So, what am i doing wrong? Also i've tried to use example for post, but use ethernet instead of wifi. Same result.

here is modified example
[code]
Thanks for help

[2019-04-13 11:19] petrnymsa commented on #60
@sandeepmistry Resolved. Issue was with router at home network.
Using
[code]
helps and behaves as expected.

[2019-04-13 11:19] #60 closed

[2019-04-14 04:02] adriens opened #62 "IFTTT POST call failing with Return Code = -2 with WiFiSSLClient"
Hi,

Your library perfectly matches my needs to `POST` on IFTTT, I'm connecting thtrough `WiFiSSLClient` and have imported certificates :

![2019-04-14 14_56_44-WiFi101 _ WiFiNINA Firmware_Certificates Updater](https://user-images.githubusercontent.com/5235127/56088108-a1f0ec80-5ec5-11e9-8853-b4c913171b14.png)

I can successfuly post from `curl` but no way to make it run from mkr1000, always retur

[2019-04-14 04:05] adriens commented on #62
According to source code, I'm not using the library the good way :

[code]

[2019-04-14 04:11] adriens commented on #62
Here is the full sketch :

[code]

[2019-04-14 04:22] adriens commented on #62
Same behavior with `DweetPost` code

[2019-04-14 04:29] adriens commented on #62
Maybe is it linked to https://github.com/arduino-libraries/ArduinoHttpClient/issues/29 ?

[2019-04-14 04:31] adriens commented on #62
ALso, my server address is

`#define HOSTIFTTT "maker.ifttt.com"`

[2019-04-15 08:37] facchinm commented on #62
@Rocketct can you try to reproduce the issue?

[2019-04-15 09:04] adriens commented on #62
I can play any code you want also on my side.

[2019-04-15 09:15] adriens commented on #62
Here is the `curl` command :

![2019-04-15 20_13_48-MINGW64__c_Users_3004SAL](https://user-images.githubusercontent.com/5235127/56121093-283b2a80-5fbb-11e9-8f25-53037487e53c.png)

[2019-04-18 00:14] adriens commented on #62
Hi guys, any chance to get a hint for this week-end ? 🙏

[2019-04-20 19:21] mceraso commented on #62
I dont know if this helps but see if removing the "{" and "}" from postData helps.. for some reason it stopped my application from posting properly.. from what i understand you're telling the server to parse your data as a JSON with the content-type header field so you dont need to format the data with the JSON curly braces

[2019-04-21 09:22] adriens commented on #62
Hi @mceraso , thanks for the idea. Unfortulanely, it did not work 😿
Do you have any running code snippet that run on your side ?

[2019-04-21 09:32] adriens commented on #62
In the `README` I can see :

... so, does it support `WiFiSSLClient` ❔

[2019-04-21 09:34] adriens commented on #62
Found this : https://github.com/arduino-libraries/ArduinoHttpClient/issues/56

[2019-04-21 09:34] adriens commented on #62
And this : https://github.com/arduino-libraries/ArduinoHttpClient/issues/13

[2019-04-21 09:47] adriens commented on #62
It seems like it does but no way to make it run actually...

[2019-04-21 15:05] mceraso commented on #62
Here's the code that works for me - i'm posting a matrix of data to an endpoint. I realize that I don't know about SSL and dont think that I'm using it. I'm using WifiNINA to create the client

[code]

[2019-04-21 20:58] adriens commented on #62
Looks interesting, do you have a `MKR1000` ? The spec (https://www.arduinolibraries.info/types/official) show the following compatibility matrix :

![2019-04-22 07_54_18-Official - Arduino Libraries](https://user-images.githubusercontent.com/5235127/56475470-5a292100-64d4-11e9-8b9a-b79ebf60a515.png)

[2019-04-22 02:35] mceraso commented on #62
Ahh, I see you're using an MKR1000. Right now I'm using an UNO Wifi Rev.2 but will be getting a MKR1010 next month

[2019-04-22 02:59] adriens commented on #62
@mceraso  : I will buy a [arduino-yun-rev-2](https://store.arduino.cc/usa/arduino-yun-rev-2) so I'll get Python support and a minimalist OS (`openwrt`) : it should make things much much easier. I'm tired to writing so much code just for a `get` request ...

[2019-04-23 18:37] ddaydd opened #66 "http request and socket together"
Hi,

Can i have two simultaneous connection and how?
When i do a http request, the server close the socket connection.
With httpClient.connectionKeepAlive(); i keep the connection but the memory between http and socket seems shared.

could you help me?

here is my reduced code...

[code]

[2019-04-24 13:03] abhiking-agrawal opened #67 "How to POST a file"
I am looking for uploading a file to  backend system.

Please do let me know if its possible with this.

Thanks in advance.

[2019-04-25 14:09] sandeepmistry commented on #67
Hi @abhiking-agrawal,

Yes, it's possible to post a file. You'll have to use the appropriate content type and body format that the server expects.

See the PostWithHeaders example: https://github.com/arduino-libraries/ArduinoHttpClient/blob/master/examples/PostWithHeaders/PostWithHeaders.ino#L57-L64

You'll have to change the `client.print(postData);` line to Stream the file contents.

[2019-04-25 14:09] #67 closed

[2019-04-25 14:12] sandeepmistry commented on #66
Hi @ddaydd,

You'll need to pass in a different `Client` for each `HttpClient` you create in the sketch, please try this:

[code]

[2019-04-25 14:52] sandeepmistry commented on #62
Hi @adriens,

I'm able to reproduce this, the issue is with the WINC1500, it's failing to connect to the "maker.ifttt.com" server even though the cert if flash for it (might be related to the TLS cipher negotiation). I'll open an issue on the `WiFi101` repo for this.

One note, `client.post("/trigger/test/with/key/MYPRIVATEKEY", contentType, postData)` is returning -1 to indicate a `HTTP_ERROR_CON

[2019-04-25 17:10] ddaydd commented on #66
It's too simple and i had missed that. it works. Thank you very much!

[2019-04-25 17:10] #66 closed

[2019-04-25 22:42] adriens commented on #62
Great news to know it can reproduce it. First step for better news. Thank you very much 💟 @sandeepmistry

[2019-04-28 20:41] c0dehunter commented on #29
Was this ever solved? I am having the same problem.

[2019-04-28 20:44] c0dehunter commented on #62
I am having the same issue. I am using GsmClient to build http client and also not IFTTT but my own server. Also, I am using .get() not .post().

[2019-04-28 20:54] c0dehunter commented on #29
I solved this by callin http.stop() after each call.

[2019-05-07 17:40] ddaydd opened #68 "buffer socket size"
Hi,

can the buffer size be increased or is it a physical limit?

WebSocketClient.h : 89

`uint8_t iTxBuffer[128];`

[2019-05-13 17:13] sandeepmistry commented on #68
Hi @ddaydd,

I think we can make the size bigger for non-AVR boards. What board are you using and what size do you need?

[2019-05-13 20:04] ddaydd commented on #68
my hardware is arduino mega 2560 with ethernet shield W5100,
I think 200 characters would be fine, it's possible?

[2019-05-15 09:17] OersHunorDetre opened #69 "Adafruit IO fails on ESP8266 and ESP32"
I am trying to use Adafruit IO using ArduinoHttpClient. Fails to compile using the latest fw of ESP8266 (2.5.1) and ESP32 (1.0.2). After downgrade of the firmwares they do work.

[2019-05-15 13:25] sandeepmistry commented on #69
Without further info, this is a duplicate of https://github.com/arduino-libraries/ArduinoHttpClient/issues/58 with pull request https://github.com/arduino-libraries/ArduinoHttpClient/pull/63 open to potentially resolve.

[2019-05-15 13:25] #69 closed

[2019-05-25 17:07] tkralj opened #70 "Problem with HTTP POST request"
Hello. I am having a problem when sending HTTP POST requests to my server. The code is as follows:

     SerialMon.println("making POST request");

    String contentType = "application/x-www-form-urlencoded; charset=UTF-8";
    String postData = "tid=acc7a95c-b91f-48ae-8a36-0fcd58ca2313&time=2019.05.25%2008:18:59&amount=2.00&rsnd=false&code=0000";

    https.beginRequest();
    https.post("/api/M

[2019-05-25 18:19] tkralj commented on #70
It turned out to be my mistake. If you send POST request you have to set Content-Length header (even there is no content) for this to work.

[2019-05-25 18:21] #70 closed

[2019-05-28 08:44] tkralj opened #71 "httpclient.get crashes if resource is unavailable (server is down or file not exists)"
Hello, i encountered a problem with getting the file from server if server is unavailable or file does not exists on the server. http.get call returns 0 and crashes later on with guru meditation error:
Guru Meditation Error: Core 1 panic'ed (LoadProhibited). Exception was unhandled.
Core 1 register dump:
PC : 0x400014fd PS : 0x00060530 A0 : 0x800fd4e0 A1 : 0x3ffb1630
A2 : 0x00000194 A3 : 0x0000019

[2019-06-07 17:56] neypalma opened #72 "Always gets http code 400"
I made a simple test program to make an http put, but the answer is always code 400

Here is the code

  String contentType="application/json";
  String putData="{\"sensorId\":" + String(SENSORID) + ",\"sensorValue\":34.5}";
  String putPath="/v1/sensors/water/";
  // put your main code here, to run repeatedly:
  Serial.print("Sending data "); Serial.println(putData);

  httpClient.put(putPath,con

[2019-06-07 18:13] neypalma commented on #72
Well with the following code works

  httpClient.beginRequest();
  httpClient.put(putPath);
  httpClient.sendHeader("Host", "IpAddress:8085");
  httpClient.sendHeader("Content-Type", "application/json");
  httpClient.sendHeader("Content-Length", putData.length());
  httpClient.beginBody();
  httpClient.print(putData);
  httpClient.endRequest();

[2019-06-07 18:13] #72 closed

[2019-06-07 20:20] ddaydd commented on #68
@sandeepmistry  no news?

[2019-07-05 09:17] Rocketct commented on #62
the original one was fixed by https://github.com/arduino-libraries/WiFi101/pull/274, @c0dehunter could you try this and check if still not works? if not works could you open a new issue with a description and a sketch to reproduce the problem?

[2019-07-05 09:24] adriens commented on #62
Hi @Rocketct , I'll do so, if not working, I'll open a new issue so the current one can be closed : do you want me to close it now ?

[2019-07-05 09:37] Rocketct commented on #62
no no @adriens i'll do it don't worry, only lets wait the resposne of @c0dehunter, thank you a lot @adriens

[2019-07-18 14:08] Rocketct commented on #62
fixed by https://github.com/arduino-libraries/WiFi101/pull/274 @c0dehunter if you need open new issue.

[2019-07-18 14:08] #62 closed

[2019-07-18 23:58] adriens commented on #62
👏 😻 🚀

[2019-08-28 04:55] minestrone1994 opened #73 "Post multiple variables"
Is there any way to post more than one variable at the same time?

[2019-09-05 09:32] darkyen opened #74 "SNI Not supported"
It seems that this library fails where SNI is needed even though the underlying network driver does support it, perhaps we can create a sub-class ArduinoHTTPSClient that tries to use SNI by default?

The client I am using is WiFiNINA

[2019-09-05 13:35] sandeepmistry commented on #74
Hi @darkyen,

Support for SNI was enabled in NINA f/w version 1.2.3 or later (here's the code change: https://github.com/arduino/nina-fw/pull/16).

The firmware version is not available in the stable release of the IDE as of now. However, if you download the nightly IDE version, you can use the WiFi Firmware updater tool to update to a firmware version that includes the change.

Please let me know

[2019-09-05 13:35] #74 closed

[2019-09-09 17:05] sandeepmistry commented on #73
Hi @minestrone1994,

Could you please provide some more context on what you are trying to POST? In general, you'll have to encode the HTTP body to a format the server expects.

[2019-09-24 05:51] tkralj opened #75 "Sometimes server receives messed headers"
Hello, i have a weird problem on ESP32 chip . After several days of continous work it looks like ArduinoHttpClient library messes up http headers and IIS sends wrong data.

For Example this is the code i use to send HTTP requests to the server:

    HttpClient https(webApiServerName, 80);

    https.beginRequest();

    https.get(url);
    https.sendHeader("Content-Type", "text/plain");
    https.

[2019-09-25 04:23] Warlib1975 commented on #30
I've got the same -3 error instead of 403 error when using SSL connection. When I try to connect to the server using c# application it shows standard 403 auth error. It's ok. -3 code is informative.

[2019-10-28 15:42] isosel opened #76 "post request with application/json;"
Hello im trying to make a POST request to a device with a **MKR Wifi 1010 Board.**

POST request to http://192.168.192:80/config

headers:

Host:192.168.1.192
Content-Type:application/json; charset=UTF-8
Connection:close
Content-Length:308
Accept-Encoding:gzip
User-Agent:arduino
Accept:*/*
Cache-Control:no-cache

body:

{"header":{"from":"/app/339299-e1853779db9fc7866cf6dfe0b697b0b8/subscribe","me

[2019-10-29 16:22] Cy3rian0 commented on #76
I don't have a solution for your problem my friend, just wanted to tell you not to suffer! You're not alone. I have a similar problem with my Arduino where Postman works fine, yet my script doesn't. I'm guessing though that I think I'm sending Content - Type when actually I'm not. Remember, software doesn't do what we want, it does what we tell it to do. In my case, as my friends say, the problem

[2019-11-06 10:31] isosel opened #78 "client.post(/); reassembled TCP segments (wireshark)"
Hello everyone,

the function client.post("/test", contenttype, data); doesn't work as expected. When I launch an analysis with wireshark, the HTTP request is made of two reassembled TCP segments.

The 1st one contains "POST" (4 bytes) and the 2nd contains the rest of the request.

It doesn't work for my application.

Best regards,

isosel.

[2019-11-06 10:33] isosel commented on #76
solved

[2019-11-06 10:33] #76 closed

[2019-11-06 10:33] isosel commented on #76
https://github.com/isosel/meross-mkr1010/blob/master/code.ino

[2019-11-06 10:35] isosel commented on #73
more details pls

are you using client.post( ) ?

you can post w/e you want within the body of your request

[2019-11-06 10:46] isosel commented on #75
print cfg.sn on serial monitor to check if you send the right data when you detect the error.

maybe your endpoint modifies the serial number.

try to monitor your request with Wireshark to check if data send through the network are correct

[2019-11-11 21:10] sandeepmistry commented on #78
Hi @isosel,

This is expected and won't be changed. It's compliant with the HTTP standard as well.

[2019-11-11 21:10] #78 closed

[2019-12-11 11:48] YashFafolawala opened #80 "POST request with Basic Authentication"
I am trying to write data on the web app, via Arduino IoT 33 nano, using a POST request combined with basic authentication. But it is not working. GET request works perfectly and gets authentication from the web app.

[code]
This works. but...

[code]
This doesn't work. PostUrl and PostBody are in a correct format, because the same POST request works with Postman and gets a success code. From the

[2019-12-11 13:36] YashFafolawala commented on #80
Solved!
Seems, the POST request should be implemented with custom headers. Not like the one I used in the code mentioned. Sequence: Post URL with method type, then pass the Authentication credentials, then data with its data type and data size with headers if any.

[2019-12-11 13:36] #80 closed

[2020-02-01 22:50] andrewjohnsen31 opened #81 "ecobee get request with bearer token, not able to get syntax right"
I am another newbee, spending countless hours. :)
Searching everywhere for existing Ecobee example and have not found an exact match.
This example seems like the closed thing.
Please see what you can do.

My Goad is to read the temperature from an ecobee thermostat.
I have found this example along with a bearer token example to guide this effort.
**Reference:

** https://github.com/gscales/MS-Grap

[2020-02-02 14:08] andrewjohnsen31 commented on #81
to fix I added the full path:""https://api.ecobee.com
client.post("https://api.ecobee.com/1/thermostat?");

[2020-02-02 14:08] #81 closed

[2020-02-05 22:14] andrewjohnsen31 opened #82 "code 3 response after request for temperature api.ecobee.com"
I have been stuck on this awhile. Posting to API.ecobee.com I can refresh tokens.
When I use the tokens provided, a code 3 communications error is received.
If I use an outdated token, a clear outdated token message is the response.

**Using Postman always works, here is the working curl command:**

![Screen Shot 2020-02-05 at 5 11 01 PM](https://user-images.githubusercontent.com/59365094/73887887

[2020-02-06 20:01] andrewjohnsen31 commented on #82
I hate to answer my own post, but I am really happy I got it to work.
I used  https://curl.trillworks.com/#elixir  to help decode the curl command.
It turns out, there was no need to send a body. I just moved this postData string appending to the Endpoint in the GET command (See Below).

**Here is the working modified code:**

<img width="1323" alt="Screen Shot 2020-02-06 at 2 39 45 PM" src="https

[2020-02-06 20:01] #82 closed

[2020-04-13 20:21] rtarta opened #84 "How upload a file from SD card via FTP or POST ?"
Hi is it possbile to demostrate how to upload file from sd card. File size can be 256KB ~ 512KB.

Thanks

[2020-04-16 14:40] rtarta commented on #67
@sandeepmistry  Hi  when i use below code i get **Status code: -3**
this is espcam32 camera image send sample of my code.
_size_picture: 160330_
fb is my espcam32 image buffer.

uint8_t* imagedata =  fb->buf;
size_t size_picture=fb->len;

HttpClient http(client, server, 80);
  http.connectionKeepAlive();
  Serial.println("making POST request");

  Serial.print("size_picture: ");
  Serial.println(s

[2020-04-28 21:40] andrewjohnsen31 opened #85 "Status code 200 with no response"
I have been using ArduinoHTTPClient to access data on my ECObee thermostat.
This has worked reliably.
Now I modify the Get request to add an additional parameter and I get "No Response".
Repeating in Postman this Get Request works fine. Statuscode always come back as 200 for both HTTPClient and Postman.

The only thing I can think of different is the working response whet from 2.19kB(252mS) to 6.2

[2020-04-28 21:58] andrewjohnsen31 commented on #85
In reading, I see I need to review memory usage.

[2020-04-30 14:18] george-i opened #86 "Status code -3 or -2 on MKR1000"
This code used to work in August 2019, but not anymore:

[code]

For some reason it doesn't work anymore.
The wifi connection is made.

Here is an excerpt from the log:

[code]

[2020-05-01 13:32] andrewjohnsen31 commented on #85
In Checking available Ram:
Global variables use 470 bytes (7%) of dynamic memory, leaving 5674 bytes for local variables.
The Resonse expected is 6200 bytes, more than available on my Arduino UNO WiFi Rev2.
My Conclusion is I don' have enough Ram.
The Arduinohttpclient is not responsible for this issue.
Closing issue.....

[2020-05-01 13:32] #85 closed

[2020-05-22 23:27] gomezramones commented on #80
I'm having the same issue but I havent been able to solve it.
`String contentType = "application/json";

  http.beginRequest();
  //http.post(url_auth,"text/plain", "");
  http.post("/api/auth/login","text/plain", "");
  http.sendHeader("username",user);
  http.sendHeader("password",password);

  http.endRequest();

  //http.beginRequest();
  //http.sendHeader("Authorization","Basic c2luYXBzaXNfdT

[2020-05-24 22:38] gomezramones opened #87 "I'm having problem with https websites"
Hi, I'm trying to stablish communication with a server that uses https but without sucess. I have been striving to login to that server but without success.. This is how I do it

[code]

[2020-06-01 16:00] rbresjer opened #88 "URL gets reset?"
Hi,

I'm new to Arduino programming so this might be a stupid question. I'm trying to post the readings of a temperature sensor to my REST API. This *sometimes* works, however the Arduino is not always posting to the same URL. It seems random when it posts to the defined URL, and when to just /.

Code:
[code]

Example serial output:
[code]

The status codes 405 are because the library is posting t

[2020-06-02 11:53] rbresjer commented on #88
By the way: I've tried to remove all the logging because I read something about RAM getting cloaked with Strings, but that doesn't solve it.

[2020-06-02 13:28] zaindroid commented on #87
I am having the same issue. Its seems like httpClient.connect() is not able to connect to server. I am not sure if I am using the right server address in my code but I have tried with so many different ways but every time i get -3 response

[2020-06-02 15:24] gomezramones commented on #87
I think the problem is this library doesn't handle https website. You might try with an API to connect to your server and see if the address is ok. I could solve the problem by stablishing communication between my SIM5360 and my server https://... enabling https comunication of my module with AT commands. Although at the beginning it was sending me an 301 error (moved permanently) and it was becau

[2020-06-10 09:49] YashFafolawala commented on #80
Try this.

[code]
This is working for me as basic authentication and posting to database.

[2020-06-23 08:45] bricemiramont commented on #87
Hi, try to create your client like that (for standard SSL port 443):
`HttpClient client = HttpClient(wifi, server, 443);`

replace wifi with the network connection you use AND in the case of wifi, create your wifi object instance as SSL like this:
`WiFiSSLClient wifi;`

[2020-06-23 10:17] zaindroid commented on #87
Hi,
I have tried that scheme but still the same problem.

On Tue, 23 Jun 2020, 10:45 AM bricemiramont, <notifications@github.com>
wrote:

[2020-06-23 14:51] gomezramones commented on #87
What module or chip are you using to connect to the internet? It is imposible to make it work with that statement because Https have to make some certification some staffs that library doesn't do it. If you have a quectec or simcom chip you can enable SSL so the chip carries out all the SSL task

[2020-06-25 18:50] beicnet opened #89 "ESP8266 Simple Example Sketch?"
Hi there,

Can someone give me for this library the simpliest GET example sketch?

Thank you!

Kind regards,
Viktor

[2020-06-28 10:01] Park0 commented on #36
I just added PR https://github.com/arduino-libraries/ArduinoHttpClient/pull/90 to fix this

[2020-09-01 06:25] Panometric opened #91 "HttpClient.h file name conflicts with ESP32-Arduino framework"
Using [ESP 32 Ardiono framework](https://github.com/espressif/arduino-esp32) and  [platformio.org's ](https://platformio.org/)   library search functionality presents a vexing problem since the name` HttpClient.h` is [duplicated](https://github.com/espressif/arduino-esp32/blob/f4acac4c2bf83d76f49241489e24fc1d6bbb64e7/libraries/HTTPClient/src/HTTPClient.h) in the ESP32 Arduino framework.

If you tr

[2020-09-10 05:20] flagoworld opened #92 "Loop getting called before previous loop finishes? What is going on?"
I am using a nano 33 IoT with WifiNINA 1.3 and this library. I am noticing some very strange behavior and I am wondering if this is normal and I am doin it wrong, or if something is actually wrong.

I have a simple program based on the example project. It makes a call to a URL (over https) repeatedly.

# First

I noticed is that often the "get(/)" line will be printed to the serial monitor multipl

[2020-10-09 12:10] salexander2 commented on #74
Hi, it seems I have the same problem.
I can't connect via SSL even if I use latest versions of all (Arduino IDE, WiFiNINA firmware, WiFiNINA library).
I have an Arduino UNO WiFi Rev 2.
If I use the WiFiSSLClient example to connect to www.google.com it works, but if I use the same example to connect to my site (hosted by ARUBA.it) it doesn't work.
Obviously I upgraded certificate for both sites (go

[2020-10-22 18:26] tomasboldo commented on #86
I am having the same problem with a similar code, did you fixed it?

[2020-10-28 09:24] glennpierce opened #93 "Example to get response headers"
Sorry if I have missed this but is there a way to read response headers. I need to access these to do some scram authentication.

I see methods like readHeaderValue and readHeader() but can't work out how it it used.

Thanks

[2020-11-09 22:18] grichfitz opened #94 "Content-Length returns 0 from Godaddy"
Hello,
Can anyone help with a werid issue with ArduinoHttpClient

I do the following, to get responseBody() directly into a char [].
    int httplength = http.contentLength() +1;
    char responsebody[httplength];
    http.responseBody().toCharArray(responsebody, httplength);

This works fine on my homegrown, raspberry pi Apache server.

This fails on my godaddy server, I do not get contentLength(

[2020-11-11 08:49] george-i commented on #86
Nope, I moved to ESP8266 board and started with a new code

[2020-12-05 10:02] clysss commented on #68
Is there a good reason not to create a setitXBuffersize function or add a constrctor to websocket ?
What's the best option to your opinion..?

This is a large limitation of clean reuse httparduinoclient on other websocket project like mqtt/pubsubclient over wss... (Cf Areve repo)

[2020-12-05 18:53] polishdude20 opened #95 "Websockets stuttering on Arduino Nano 33 IOT When writing every 16 ms."
I'm using an Arduino Nano 33 IOT with the simple websocket example. I've modified it to send a message every 16ms (so 60fps) and I do get the messages on the other side and in order but they come more in batches rather than smoothly. I am graphing these values and they stutter on the other end. I know it's not my server, my internet connection or router etc since it works smoothly on the ESP32 boa

[2020-12-25 15:11] cgibsonmm commented on #86
Same here No luck!

[2021-01-05 12:43] georgeveysSFL commented on #38
Can anyone shed any light on this? I'm also experiencing almost a second of latency on decoding the response and status code

[2021-01-20 14:28] genotix opened #97 "Error on building : "HttpClient.cpp:87:61: error: logical not is only applied to the left hand side of comparison [-Werror=logical-not-parentheses] if (!iClient->connect(iServerName, iServerPort) > 0)""
There is this Mobile library TinyGSM that uses that ArduinoHttpClient library for an HTTPS example.
I have been working to try and do a HTTPS PUT with the TTGO T-Call v1.4 ; an ESP32 WROVER-B with a SIM800L GPRS module.

I have tried this [https://github.com/vshymanskyy/TinyGSM/blob/master/examples/HttpsClient/HttpsClient.ino](Source) but immediately receive the following error in Arduino IDE:
`Wa

[2021-01-20 19:22] per1234 commented on #97
The ESP32 platform authors used an innovative approach to advocating for warning-free code:
https://github.com/espressif/arduino-esp32/blob/1.0.4/platform.txt#L18-L21
[code]
What this does is add the `-Werror=all` flag to the compilation command when you have the Arduino IDE's **File > Preferences > Compiler warnings** set to "More" or "All". The  `-Werror=all` flag causes compiler warnings to be

[2021-01-21 21:12] genotix commented on #97
Thank you very much for this clear explanation!
I have been able to change it and could continue!

[2021-02-11 06:41] asoap commented on #68
Thank you for this comment thread.  I'm a noob that had an issue sending websockets using an Arduino Nano Uno Rev2.  I got it work but as soon as I sent a semi bigger socket command it would screw up the Arduino.  I just increased that iTxBuffer to 256 and I'm back in business!!!!

[2021-02-11 10:13] aentinger opened #98 "Add GitHub Action based CI"

[2021-02-24 22:22] thehigherlife opened #99 "Is there an equivalent of getstream()"
I'm trying to work with ArduinoHttpClient and ArduinoJson.

The problem I'm having is that when I get the json document out of httpclient.getresponse() that because its a string it creates a lot of overheard for the size of the json document when I then need to copy the json document into deserializeJson().  Their documentation suggests that I use http.getStream seen here: https://arduinojson.org/

[2021-02-27 05:03] thehigherlife commented on #99
I ended up just converting the string to a char before passing it into ArduinoJson and that seemed to work.

[2021-02-27 05:03] #99 closed

[2021-03-05 12:39] arangu97 opened #100 "Problem with maximum TCP payload"
Hello,

I am having issues with a POST request with this library and the Ethernet module ENC28J60:

http.post(url, contentType, json);

The problem is that the the HttpClient is not sending more than 512 Bytes of TCP Payload and my endpoint does not receive it properly.

However if I use the EthernetClient connect, print, etc.. works fine and my endpoint gets the JSON data properly.

I am wonderin

[2021-03-09 09:21] #100 closed

[2021-03-17 17:46] tonylin0826 commented on #88
I have the same problem on Arduino nano 33 IOT, do you have a solution?

[2021-03-30 01:05] CHM1968 opened #101 "How to POST a request to a https"
Hi,
I'm pretty new on Arduino. I'm using ArduinoHttpClient and need to POST a request in secure way (https://).
I'm not able to define the https:// on the serverName passed to HttpClient(ethernetClient, serverName, webServerPort).
When I use serverName = url (ssl9083.websiteseguro.com or 179.188.19.74) with port 443 the board hangs and after sometime returns -3 on httpClient.responseStatusCode().

[2021-03-30 01:49] per1234 commented on #101
Hi @CHM1968. Thanks for your interest in the ArduinoHttpClient library.

I see we already have a prior issue report about this at https://github.com/arduino-libraries/ArduinoHttpClient/issues/87.

It's best to have only a single issue per subject so we can consolidate all relevant discussion to one place, so I'll go ahead and close this in favor of the other.

If you end up with additional informa

[2021-03-30 01:49] #101 closed

[2021-04-13 21:03] mmaxbar commented on #38
@georgeveysSFL
try this:
in "HttpClient.h" go to this entry, change the kHttpWaitForDataDelay from 1000 to 100:

// Number of milliseconds that we wait each time there isn't any data
 // available to be read (during status code and header processing)
    static const int kHttpWaitForDataDelay = 100;

The one second latency comes from the code running through too quickly, so there is no response to

[2021-04-14 05:15] #98 closed

[2021-05-03 07:59] roysG opened #105 "Status: -2 or -3 stack the loop"
Hi,
I am using you library, it works great when i get status code: 200.
But if the server send error for some reason i get status code  -2 or -3 and then it not send again requests to server.

[2021-05-05 13:32] biswaKL opened #106 "Headers are not being received inserver side on POST"
[code]

[2021-05-05 13:57] biswaKL commented on #106
Solved it,
content length and content type are compulsory header.
and need to use:
`http.post("/testing/upload");`
[code]

[2021-05-05 13:57] #106 closed

[2021-07-12 13:36] paulchrisycj commented on #29
@c0dehunter Hi, mind explaining more about how did you call http.stop()? Because I can't find a variable named http in your code. I'm facing the same issue here. Would appreciate any help you can offer 🙏🏻

[2021-07-25 22:04] mshulman opened #110 "Reconnect websocket after server restarts?"
I'm not sure how this is supposed to work. My code works as long as the server is up before the client attempt to connect. But if the server restarts or otherwise faults, I don't know how to make the code reconnect.

Here's what I'm doing
[code]

The problem is that the client.begin() doesn't work on a disconnected socket (I think).

What's the right thing to do?

[2021-07-26 14:43] ddaydd commented on #110
have you implemented a Ping / Pong request for webSocket ? maybe it could help you.

[2021-07-26 15:34] mshulman commented on #110
ddaydd-

Is this something that is implemented on the server? If so, how would I know if the server I’m connecting to implémenta this?

[2021-07-26 15:40] ddaydd commented on #110
you have to implement it on the server and the client too. maybe this post can help you
https://stackoverflow.com/a/50876880/2979191

[2021-09-04 23:59] ClemensGruber opened #111 "minimal example for ESP32"
Is there an minimal example for the ESP32? Or is https://github.com/espressif/arduino-esp32/blob/master/libraries/HTTPClient/src/HTTPClient.h an aquivalent to the ArduinoHttpClient lib?

I'd like to use the same http calls for an SIM800 module (via TTGO T-Call) and the genuine ESP32 WiFI function. So I'm searching for a lib that can handle both. I was able to make a connection via the SIM800 modul

[2021-09-05 02:06] per1234 commented on #111
Hi @ClemensGruber. Thanks for your interest in this open source project. There are no examples specifically for ESP32.

You are welcome to adapt the examples for ESP32 if you like. Or perhaps you will prefer to use the HTTPClient library that is installed along with the ESP32 boards platform. Its examples are found in the Arduino IDE at **File > Examples > HTTPClient**.

Feel free to post on the A

[2021-09-05 02:06] #111 closed

[2021-09-06 01:41] ClemensGruber commented on #89
Unfortunately this issue #111 [minimal example for ESP32] was locked. I could find no solution till now and opend a thread at https://forum.arduino.cc/t/using-arduinohttpclient-lib-with-esp32/902455

[code]

but it stalls after

[code]

Is the [Arduino - WiFiClient ](https://www.arduino.cc/en/Reference/WiFiClient) used in the ArduinoHttpClient lib not compatible with the ESP32 implementaton (e.g.

[2021-10-13 19:15] Samorange1 opened #113 "Does the Library support streaming"
So I am trying to stream data from Firebase.
I am able to get the data using GET
and for streaming purposes I am sending the header "Accept:text/event-stream"
I am also not closing the connection.
I am reading the response while the client.available() returns true.
However, the response code comes to be 200 and Response is the data and then it does nothing.

Ideally it should give a 307 response /

[2021-10-26 13:32] sudarshanng7 opened #114 "Close HTTP request"

[2021-11-01 14:02] #114 closed

[2021-11-01 14:03] sudarshanng7 commented on #114
Please delete this request

[2021-11-04 09:53] aentinger opened #115 "Add GitHub Actions workflow to synchronise with shared repository labels"

[2021-11-14 18:20] anklimov opened #116 "Using PROGMEM for string constants"
Hi everybody
There is reasonable to move strings to PROGMEM using F() directive or similar to decrease RAM utilisation for AVR based devices
Now memory footprint relatively bug (thanks for base64 code and many text constants in code)

[2021-11-15 16:41] toJuanito opened #117 "Websockets with ssl"
Hi, is it possible to communicate through wss protocol?
It works fine for me with ws.

`#include <ArduinoJson.h>
#include <HttpClient.h>
#include <SoftwareSerial.h>
#include <Ethernet.h>
#include <WebSocketClient.h>

EthernetClient ethernet;

#include <ArduinoHttpClient.h>
byte mac[] = {0x00, 0xAA, 0xBB, 0xCC, 0xDE, 0x02};

char serverAddress[] = "wss://192.168.1.87";  //I dont know if it is possi

[2021-11-17 11:31] jamolina2021 opened #118 "Websockets and Arduino MKR 1000 + Ethernet Shield"
Hello,
I am using your library to connect with websockets.
With the Arduino MKR 1000 WiFi it works perfectly, however with the Arduino MKR 1000 + Ethernet Shield (Ethernet.h) it cannot establish the connection.
Is it incompatible?
Can anything be done so that I can connect properly?
Thanks for your help.
Regards,
Jose

[2021-11-17 12:05] jamolina2021 commented on #118
Ignore this ticket.
Thanks.

[2021-11-17 12:05] #118 closed

[2021-11-17 12:11] jamolina2021 opened #119 "Arduino MKR 1000 WiFi via websockets to a server with nodejs"
Hello,
I am trying to use the library to communicate via websockets to a server with nodejs.
It works fine, however, approximately every hour it has a problem receiving the response from the server and I have to **stop** the socket and make it a **begin** to connect again, sometimes I even have **to restart the wifi**.
I am using your example.
Do you know what could be happening?
Do I have to conf

[2021-11-17 16:26] ajwentzel commented on #93
@glennpierce did you ever determine how to do this? running into a similar problem

[2021-11-18 19:50] glennpierce commented on #93
No sorry I didn't as my work moved on to another solution. Just as well really because of the lack of reply.

[2022-01-10 09:00] #115 closed

[2022-01-25 12:47] per1234 commented on #68
There is now a proposal for that here: https://github.com/arduino-libraries/ArduinoHttpClient/pull/124

[2022-02-16 15:10] clysss commented on #119
Perhaps a buffer size issue ?
https://github.com/arduino-libraries/ArduinoHttpClient/pull/124

[2022-03-06 21:16] svenyonson opened #127 "Why is server url/port in HttpClient constructor?"
Feature request:

The example shows a static instance of HttpClient - but the server/port is fixed. What if I need to talk to serveral different servers? It would be useful to be able to omit these from the  constructor and then use something like "setHost(host, port)"

[2022-03-19 17:32] episource commented on #127
Please have a look at #128

[2022-04-04 06:06] hpssjellis opened #129 "Trying to POST using the Arduino PortentaH7 not working"
Has anyone been able to do a simple web form style POST to a cloud server using the arduino PortentaH7?

The correct WiFi library is not listed, but even with    ```#include "WiFi.h"``` posting does not seem to work and eventually causses a RED flashing onboard LED.

[2022-04-05 09:20] facchinm commented on #129
Hi @hpssjellis ,
I triaged the issue and it's due to the library not closing the client after a POST is executed.
To keep compatibility with other WiFi* libraries, I'd keep this one untouched, "fixing" the issue here https://github.com/arduino/ArduinoCore-mbed/pull/439/commits/7a11cf03f766143232da3fc867d395030a3865c7 (part of https://github.com/arduino/ArduinoCore-mbed/pull/439)

[2022-04-05 09:20] #129 closed

[2022-04-05 18:25] hpssjellis opened #130 "Feature Request: Activate for MBED boards specifically the PortentaH7"
@per1234

Any chance of getting this library working for the Arduino Pro boards, such as the PortentaH7. I would be happy to test changes.

[2022-06-09 17:22] geetee24 opened #134 "Bug: Arduino - cant compile - multiple definitions"
Compiling debug version of 'xfinityRemoteControl' for 'Arduino/Genuino Mega w/ ATmega2560 (Mega 2560)'

HttpClient.cpp.o (symbol from plugin)*: In function HttpClient::read()
(.text+0x0)*: multiple definition of HttpClient::read()
HttpClient.cpp.o (symbol from plugin)*: (.text+0x0): first defined here

any idea?

[2022-06-09 17:30] per1234 commented on #134
Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-06-09 17:30] #134 closed

[2022-06-09 17:31] geetee24 commented on #134
it is a bug with this lib.

[2022-06-09 17:44] per1234 commented on #134
Sorry, but you have not provided anywhere near enough information for a bug report. This repository does not contain any files or code named "xfinityRemoteControl", so you must be using some external software. Most often, this error is caused by the user installing the library incorrectly.

Again, please post on the forum. That will be the appropriate place to support you through the investigation

[2022-06-10 04:03] geetee24 opened #135 "docs unclear on how to basis auth"
My code
				http.connectionKeepAlive();
				http.beginRequest();
				*piRetCode = http.get( strPath );
				http.sendBasicAuth ( "user", "pw" );
    		                http.sendHeader( HTTP_HEADER_CONNECTION, "keep-alive" );
				http.sendHeader( "Cache-Control", "max-age=0" );
				http.sendHeader( "Accept", "application/json" );
				http.endRequest();

but my server responds with a timeout 401....

[2022-06-27 20:22] pitlochry commented on #87
Is this fixed? Will this ever be fixed in the near future? And if no, is there a workaround? Thanks!

[2022-07-16 21:20] TannerGilbert opened #136 "Connect Websocket client to Socket.IO server"
I'm currently trying to connect my [Arduino Portenta H7](https://store.arduino.cc/products/portenta-h7) to a Socket.IO server, but I'm unable to establish a connection.

Arduino code:

[code]

Socket.IO Example Server:
[code]

Versions:
- python-socketio: 5x
- Engine.IO: 4
- Socket.IO 5

I also tried using [arduinoWebSockets](https://github.com/Links2004/arduinoWebSockets), but I couldn't get it t

[2022-07-17 09:47] TannerGilbert commented on #136
Got it to work with [arduinoWebSockets](https://github.com/Links2004/arduinoWebSockets) and node.js.

Server:
[code]

Client:
[code]

[2022-08-02 21:40] purplehorace opened #137 "sendInitialHeaders breaks session"
We have been trying to test a connection with our server to POST some data.

We are using https so initialising the library with using WiFISecureClient and ssl cert and setting port to 443 as you would expect for https.

The connection has been failing consistently and digging into the source to find the issue we have discovered that the check:
[code]
causes the port to be appended to tje Host hea

[2022-08-05 12:08] gasagna commented on #93
The main issue is that calling `responseBody` eats up all the header information from the response.  This might be considered a bug, or an undocumented feature.

A workaround is that you need to read the response headers first as shown in the example below, and then read the body.

[code]

[2022-08-09 17:39] brentru opened #138 "Please make a new release"
The [latest ESP32 BSP](https://github.com/espressif/arduino-esp32/releases/tag/2.0.4) (2.0.4) increases the compiler warn level in which causes compilation with this library to fail due to the following errors:

[code]

The `-Werror=logical-not-parentheses` warning has been fixed in the latest `master` branch ([here](https://github.com/arduino-libraries/ArduinoHttpClient/blob/master/src/HttpClient

[2022-08-10 06:46] sgryphon opened #139 "Library needs IPv6 support"
This library hasn't had a release for a few years, so maybe it is no longer maintained?

If it is being maintained, then it is missing IPv6 support.

IPv6 is now reaching over 40% according to Google statistics; https://www.google.com/intl/en/ipv6/statistics.html

Within a few years, IPv4 will be in the minority.

Some network providers have already switched to IPv6-only, e.g. Telstra mobile users

[2022-09-02 11:41] HasanBeratSoke opened #140 "Guru Meditation Error: Core 1 panic'ed (LoadProhibited). Exception was unhandled."
[code]
**I use with esp32-cam ? I have to send data to heroku but come into this error. Wha should ı do ?**

[code]

[2022-09-03 03:12] per1234 commented on #140
Hi @HasanBeratSoke. Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-09-03 03:12] #140 closed

[2022-09-04 12:39] HasanBeratSoke commented on #140
Thanks. @per1234

[2022-10-03 20:31] brentru commented on #138
@per1234  Hi - what's the status on cutting a release from `master` as this is still impacting ESP32 BSP 2.0.5?

[2022-10-03 20:51] per1234 commented on #138
Hi @brentru. My role in this project is more on the triage end of things. I am not in a position to decide about making releases.

Perhaps one of the project's other maintainers will be able to answer your question.

Regards, Per

[2022-10-04 14:13] brentru commented on #138
@per1234  Thank you for the clarification! Is @Rocketct the sole maintainer?

[2022-10-22 19:47] RanchaIET opened #143 "How to get xml response raw data"
following code working properly. i want to catch xml response.

[code]

[2022-10-23 06:41] per1234 commented on #143
Hi @RanchaIET. Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests specific to the project. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-10-23 06:41] #143 closed

[2022-11-01 22:36] asadi2021 opened #145 "ArduinoHttpClient with Headers for sending file"
Hi,
I tried to send an image from ESP32CAM to web by  ArduinoHttpClient.h and SIM800L . But it does not work . I used post with headers by changing the following code :

[code]

This is result:

[code]

[2022-11-01 22:39] per1234 commented on #145
Hi @asadi2021. Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests specific to the project. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-11-01 22:39] #145 closed

[2022-11-14 14:58] Ce345 opened #146 "ESP8266 a Simple Example Sketch?"
Well,

With Library version 2.2.0 Arduino version 2.0.1 :
Filled in the SSID and PASSWORD, then loaded to (two, tested) 8266's. Nothing more then:

[code]

What am I missing?

[2022-11-15 04:00] #146 closed, assigned to per1234

[2022-11-23 20:55] asadi2021 opened #147 "Send File by ArduinoHttpClient"
Hi,
Is there any example for post image(s) by ArduinoHttpClient library? I want to send image file from ESP32CAM via SIM800L (tinygsm library)

[2022-11-24 04:23] per1234 commented on #147
Hi @asadi2021. Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests specific to the project. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-11-24 04:23] #147 closed